.container {
  width: 600px;
  margin: auto;
  text-align: center;
}

.form input {
  margin: 5px;
  padding: 8px;
}

button {
  padding: 8px 12px;
  margin: 5px;
  cursor: pointer;
}

.delete {
  background-color: red;
  color: white;
  border: none;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th, td {
  border: 1px solid gray;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}