<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Student Bean -->
    <bean id="student" class="com.example.demo.Student">

        <!-- Constructor Injection -->
        <constructor-arg value="1000"/>
        <constructor-arg value="Harshad"/>
        <constructor-arg value="Inter"/>
        <constructor-arg value="1"/>

        <!-- Setter Injection -->
        <property name="course" value="Inter"/>
        <property name="year" value="1"/>

    </bean>

</beans>
